body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
}

.container {
    padding: 50px;
    display: flex;
    justify-content: center;
}

.title {
    position: relative;
}

.title::before {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #f04545;
    border: 5px solid white;
    border-radius: 10000%;
    transform: translate(-150%, -5%);
}

.title::after {
    content: "";
    position: absolute;
    width: 100px;
    height: 100px;
    background: #4c2ae7;
    border: 5px solid white;
    border-radius: 10000%;
    transform: translate(50%, -5%);
}