body {
  font-size: 40px;
}

* {
  box-sizing: border-box;
}


.block {
  background: #7161d1;
  box-shadow: inset 10px 20px 30px #076b07;
}


.inline {
  background: #dd8383;
}

.img {
box-shadow: 10px -20px 10px blue;
}