div {
  color: green;
}

.block {
  color: red;
}

#id-block {
  color: aqua;
}

[data-example] {
  color: #2c04bb;
}

[data-example=value2] {
  color: #110441;
}

.block3,
.block4,
.block5 {
  color: #d3d304c7;
}

div.blue-block {
  color: #2a02dd;
}

div .orange {
  color: orange;
}

.parent>.child {
  color: purple;
}